.wrapper {
	width: 100%;
	height: auto;
}

.carousel {
	height: 100vh;
  z-index: 10;
}

.carousel .carousel-item img {
	height: 100%;
	width: 100%;
}

.row .col {
	padding:0 !important;
	margin-bottom: 0;
	margin-top: 0;
}

ul {
	padding: 0;
	margin:0;
}

.content {
	position: relative;
	top: -125px;
}

.content .btn{
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 2px;
  padding: 35px 15px;
  line-height: 5px;
  border:1px solid black;
  border-radius: 5px;
}
.carousel .indicators {
	display:none;
}



.close-1{
  position:absolute;
  top:10px;
  left:255px;
  color:grey;
  background-color: black;

}
.close-2{
  position:absolute;
  top:10px;
  right:275px;
  color:grey;
  background-color: black;

}
.button-collapse-1{
margin-left: 10px;
}
.button-collapse-1 .material-icons,
.button-collapse-2 .material-icons{
font-size: 40px !important; 

}
.button-collapse-1{
  position:absolute;
  top: 20px;
  left:20px;
  z-index: 20;
}
.button-collapse-1{
margin-right: 10px;
}




.button-collapse-2{
  position: absolute;
 right: 20px;
  top: 20px;
  z-index: 20;
}




@media (max-width: 600px){
  .content .btn{
    padding: 5px;
    line-height:25px;
    font-size: 20px;
  }

  .col{
    position: relative;
    height: 300px;
  }

  .content {
    top:100px;
  }

   .content h2 {
    font-size: 30px;
   }


  .button-collapse-1 .material-icons {
    font-size: 20px !important;
  }

  .button-collapse-1{
    left:10px !important;
  }

.side-nav{
  width:200px;
}


.close-1{
 
  top:10px;
  left:165px;
 background-color:grey;
 color:black;

 

}
.close-3{
  position:absolute;
  top:10px;
  right:165px;
  color:grey;
  background-color: black;

}

.button-collapse-3 {
 position: absolute;
 right: 20px;
 top:20px; 
z-index: 10;

}


}

